.headerHome{
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ffffff;
  border-bottom: 1px solid #d8d3d3;
  color: #007477;
  position: fixed;
  top: 0;
  width: 100%
}


.headerHome img{
  width: 15%;
  margin: auto;
  margin-left: 20px;
}

