.slider-wrapper {
  text-align: center;
  
}

.slider-wrapper input {
  display: block;
  margin: auto;
}

.Participate{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.Participate h2{
  margin-top: 50px;
}

.transactionInformation{
  z-index: 15;
  position: fixed;
  height: 250px;
  width: 280px;
  margin-top: 156px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(25, 110, 167, 0.9);
  border-radius: 10px;
}

.transactionInformation .row{
  display: flex;
  align-items: center;
  margin: auto;
}
.transactionInformation img{
  margin-left: 205px;
}
.transactionInformation .row p{
  text-align: center;
  color: white;
} 
