.slider-wrapper {
  text-align: center;
  
}

.slider-wrapper input {
  display: block;
  margin: auto;
}

.Participate{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
  position: relative;
}
.Participate h2{
  background-color: rgb(0, 116, 119, 0.2);
  border-radius: 8px;
  padding: 10px;
  font-size: 1.5em;
  width: 100%;
}
.Participate h4{
  font-size: 1.2em;
  font-weight: bold;
}
.Participate button, .transactionInformation button{
  display: block;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
}
.Participation{
  width: 100%;
}
.UserAccount{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(0, 116, 119, 0.1);
  border-radius: 8px;
}

.transactionInformation{
  height: 250px;
  width: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(25, 110, 167, 0.9);
  border-radius: 10px; 
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.transactionInformation .row{
  display: flex;
  align-items: center;
  margin: auto;
}
.transactionInformation img{
  margin-left: 205px;
}
.transactionInformation .row p{
  text-align: center;
  color: white;
} 
