.container{
  z-index: 15;
  position: fixed;
  height: 9%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  border-bottom: 1px solid #d8d3d3;
  color: #007477;
  top: 0;
 
}


 .profil{
  height: 40px !important;
  width: 40px !important;
  margin-top: 10px !important;
  margin-left: -25px !important;
  margin-right: 20px !important;
}

.row img{
  display: flex;
  margin: 10px;
  margin-top: 20px;
  height: 20px;
}


.containerInfo{
  z-index: 15;
  position: fixed;
  height: 250px;
  width: 280px;
  margin-top: 156px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(25, 110, 167, 0.9);
  border-radius: 10px;
}
.containerInfo .row{
  display: flex;
  align-items: center;
  margin: auto;
}

.containerInfo h4{
  margin-right: 35px;
}

.row{
  color: white;
  font-weight: bold;
}

.containerInfo h5{
  color: white;
  font-weight: bold;
}