.ProjectDetail{
  max-width: 800px;
  margin: auto;
  padding: 15px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.ProjectDetail img{
  width: 100%;
}

.ProjectDetail h2, .ProjectDetail h3, .ProjectDetail h6{
  text-align: center;
}
.ProjectDetail button{
  margin: auto;
  display: block;
}

.ProjectDetail p{
  text-align: justify;
  margin-top: 25px;
}